<div class="row">
  <div class='span0 well text-center'>
    <span id='post_<%=post.id%>up_votes'><%= post.up_votes %></span>
    <br/>
    <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
      <i class='icon-arrow-up'></i>
    <% end %>
    <br/>
    <span id='post_<%=post.id%>_votes'><%= post.total_votes %> votes</span>
    <br/>
    <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
      <i class='icon-arrow-down'></i>
    <% end %>
    <br/>
    <span id='post_<%=post.id%>down_votes'><%= post.down_votes %></span>
  </div>
  
  <div class='span8 well'>
    <div class='index-post'>
    <%= render post.categories %>   
  <h3><%= link_to post.title, post_path(post) %></h3>
  <td><%= post.description %></td>
  <p>
    <span class='quiet'>posted by </span><%= link_to post.creator.username, user_path(post.creator) %>
    <small>at <%= display_datetime(post.created_at) %></small>
    <br/>
  </p>
  <small>
    <span>
      <%= link_to("#{post.comments.size} comments", post_path(post)) %>
    </span>
    </small>
    </div>
  </div>
</div>